html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	background-image: url("images/background.jpg");
	color:black;
	font-size: 25px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #272626
}
#main a {
    text-decoration: none;
    color: white;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 30px;
    border-color: #51dacf;
    background-color: #51dacf;
    padding: 10px 20px;
}
#main a:hover {
    background-color: #41aaa8;
    border-color: #41aaa8;
}
h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 70px;
	color: #272626
}
h2 {
	color: #272626;
	font-family: 'Pacifico', cursive;
}
p{
	font-family: 'Pacifico', cursive;
}
#banner{
	text-align: center;
}
#main h1{
	font-family: 'Fredoka One', cursive;
    font-size: 70px;
}
#banner p{

}
.container {
    background-color: #ffffffeb;
    border-radius: 5px;
    border: 2px solid #9e9e9e47;
    margin-top: 15px;
}
.contents {
    margin: 20px;
}
.section {
    margin: 10px 0;
}
.square {
    padding: 10px;
    border: #FFEB3B 5px dotted;
    width: 300px;
    margin: 0 auto;
}
.button{
	text-shadow: 2px 2px #fff;
    font-family: 'Pacifico', cursive;
}
.social, .git, .instagram, .youtube {
    color: white;
    font-size: 50px;
}
.youtube:hover {
    color: #FF5722;
}
.git:hover {
    color: #FF5722;
}
.social:hover{
	color: #4c6ef5;
}
.instagram:hover{
	color: #E91E63;
}
.footer {
    background: #3c3c3c;
    margin-bottom: 0px;
    padding: 0px;
    margin-top: 100px;
    height: 100px;
}

/*#51dacf*/
/*http:unsplash.it/random*/
	/*font-family: 'Playfair Display', serif;*/
font-family: 'Fredoka One', cursive;
text-shadow
monospace